<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>CloseSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,90},{84,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,237},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btnCancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>btnNext.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,810},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>btnOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,176},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>btnResume.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,176},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>btnSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,810},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btnSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,810},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>icon_star_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,90},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>icon_star_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,238},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{34,32}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>menu1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{259,553},{255,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>menu2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{259,296},{255,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>menu3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{255,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>menu4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{255,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,255}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>popDialogBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{381,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,292}}</string>
                <key>sourceSize</key>
                <string>{381,292}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritegame.png</string>
            <key>size</key>
            <string>{516,871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54910fd9369871d9f19be9ebc7b29291$</string>
            <key>textureFileName</key>
            <string>spritegame.png</string>
        </dict>
    </dict>
</plist>
